<section class="thirteen columns">
    <h1>Projects</h1>
<!--
    <article>
        <header>
            카메라/라이다/GPS를 활용, 운전면허시험장/인제서킷레이싱 미션 수행이 가능한 자율주행자동차 연구개발 (인지 담당)<br/>
            최종 본선대회 3위 수상,
            <span>제13회 미래자동차 기술공모전 자율주행자동차 경진대회, Hyundai Motor Group (Jan 2016 - May 2017)</span>
        </header>
    </article>

    <article>
        <header>
            웹캠/웨어러블 디바이스를 활용, 운동 자세 정확도를 피드백 해주는 개인 트레이너<br/>
            National SemiFinalist 수상,
            <span>ImagineCup Innovation 부문, Microsoft (Dec 2015 - Mar 2016)</span>
        </header>
    </article>
-->
</section>
